body {
                background-color: #f6f7b5;
                color: darkturquoise
                
            }
            
            div{
                margin: auto;
                width: 50%;
                text-align: center;
            }
        
            h1{
                font-size: 120px;
            
            }
            #money{
                background-color: white;
                color: darkturquoise
            }